APP_NAME="Medical Knowledge RAG"
APP_VERSION="0.1"
FILE_ALLOWED_TYPES=["text/plain" , "application/pdf"]
FILE_ALLOWED_MAX_SIZE_MB=10
PROJECTS_DIR = "assets/files"
FILE_DEFAULT_CHUNK_SIZE = 512000 #512KB
MONGO_URL = "mongodb://admin:admin@localhost:27017"
MONGO_DATABASE = "MedicalRAG"



GENERATION_BACKEND = "OPENAI"
EMBEDDING_BACKEND = "COHERE"

OPENAI_URL = ""
OPENAI_API_KEY=""


GENERATION_MODEL_ID = "qwen3.5:9b" ## this is for using local models using the OPENAI sdk just in case 
EMBEDDING_MODEL_ID = "bge-m3:567m"
EMBEDDING_MODEL_SIZE = 384

INPUT_DEFAULT_MAX_CHAR = 1024
GENERATION_DEFAULT_MAX_TOKENS = 200
GENERATION_DEFAULT_TEMP = 0.1



