services:
  mongodb:
    image: mongo:8.2.3-noble
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - ./mongodb_data:/data/db
    networks:
      - backend

    restart: always

networks:
  backend:
